.topblack{
    background-color:black;
    position: absolute;
    top: 0;
    left: 0;
    padding-top:20;
    padding-left: 10%;
    width: 90%;
}

.header{
    background-color: black;
    position: absolute;
    top: 158;
    left: 0;
    width: 100%;
    height:150;
}

.crest{
    position: absolute;
    opacity: 0.9;
    top:170;
    left: 50%;
    transform: translate(-50%)
}

h1{
    color: #faaf21;  
    position: absolute;
    top: 350;
    font-size: 3em;
    left: 50%;
    transform: translate(-50%)
}

h3{
    color: black;/*#faaf21; */ 
    position: absolute;
    font-size: 2em;
    left: 50%;
    transform: translate(-50%) 
}

.error{
    color: red;
    left: 50%;
    transform: translate(-50%)
    
}

button {
    background-color: #777777;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
}

button:hover {
    background-color: #555555;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #333333;
    
}

button:active {
  background-color: #555555;
  position: absolute;
  box-shadow: 0 5px #333;
  /*transform: translateY(4px);*/
  left: 50%;
  transform: translate(-50%, 4px);
}

.ResponseBox{
	position: absolute;
    padding-left:10;
    left: 50%;
    transform: translate(-49%);
}

input[type="submit"]{
    position: absolute;
    left: 50%;
    font-size:3em;
    width: 30%; 
    height: 2em;
    transform: translate(-50%);
    background-color: #777777;
    color: white;
    font-size: 2em;
}

.footer{
    background-color:#faaf21;
    position: absolute; 
    padding-top:4%;
    padding-left: 7.5%;
    padding-bottom: 2%;
    left: 0;
    width: 92.5%;
}
